$bold: 700;
$reg: 500;
$light: 300;
$box-size: 480px;
$clip-distance: 0.05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;
$anime-time: 8s;
$primary: #11171c;
$gold: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
$black: #212121;
$white: #d3d3d3;
$gold-100: #fff4d4;
$gold-200: #ffeaa9;
$gold-300: #ffdf7e;
$gold-400: #ffd553;
$gold-500: #ffca28;
$gold-600: #cca220;
$gold-700: #997918;
$gold-800: #665110;
$gold-900: #332808;
$blue-100: #d4dcff;
$blue-200: #a9b9ff;
$blue-300: #7f95ff;
$blue-400: #5472ff;
$blue-500: #294fff;
$blue-600: #213fcc;
$blue-700: #192f99;
$blue-800: #102066;
$blue-900: #081033;
