// @import "compass/css3";

$primary: #ffca29;
$secondary: #294fff;
$black: #212121;
$bold: 700;
$reg: 500;
$light: 300;
$white: #f5f5f5;

.primary {
  color: $primary;
}

// Grid Setup //
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
  margin-left: -15px;
  margin-right: -15px;
}

@each $size, $abbr in(0, xs), (600px, s), (1024px, m), (1440px, l) {
  @media (min-width: $size) {
    @for $i from 1 through 12 {
      .col.#{$abbr}#{$i} {
        grid-column-end: span $i;
      }
    }
  }
}

[class^="col-"] {
  grid-column-end: span 12;
}

// End Grid //

h1 {
  color: white;
}

* {
  font-family: Proxima Nova, sans-serif;
  font-weight: $reg;
}

body {
  margin: 0;
  height: 90vh;
  background-color: $black;
  line-height: 1rem;
  background-repeat: no-repeat;
  background-position-x: -2000px;
  background-position-y: -1000px;
}

.body--home {
  background-image: url("/images/darkbg.jpg");
}

.body--about {
  background-color: $white;
}

.container {
  width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  height: 80px;
  padding: 40px 40px;
  background-color: $black;
  vertical-align: middle;

  &.nobg {
    background-color: transparent;
  }

  .logo {
    display: inline-block;

    img {
      height: 80px;

      &.homelogo {
        height: 180px !important;
      }
    }
  }

  .nav {
    text-align: center;
    float: right;

    .nav-list {
      display: inline;
      list-style-type: none;
      font-size: 24px;
      margin: 0;
      padding: 10px;

      li {
        display: inline;
        margin-right: 40px;
      }

      a {
        text-decoration: none;
        color: white;
        padding: 8px;

        &:hover {
          color: $primary;
        }
      }

      #connect {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        text-align: center;
        text-decoration: none;
        color: white;
        display: inline-block;
        background-color: $secondary;
        border-radius: 4px;
        padding: 12px 20px;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}

.home {
  grid-area: grid-body;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-column-gap: 16px;
  grid-template-areas: "left-grid right-grid";
  color: white;
  height: 400px;

  @media (max-width: 1000px) {
    grid-template-columns: 250px;
    grid-template-areas: "left-grid" "right-grid";

    .right {
      margin-top: 20px !important;
    }
  }

  .left {
    margin-top: 60px;
    grid-area: left-grid;

    h1 {
      font-family: Playfair Display, serif;
      font-size: 160px;
      line-height: 126px;
      text-shadow: $primary 0 0 2px;

      span.small {
        font-size: 120px;
        font-family: inherit;

        @media (max-width: 500px) {
          font-size: 58px;
        }
      }

      @media (max-width: 500px) {
        font-size: 80px;
        line-height: 0.763em;
      }
    }
  }

  .right {
    margin-top: 280px;

    .card-image {
      .card-title,
      .card-subtitle {
        color: $primary !important;
        text-shadow: 1px 1px 2px black;
      }

      .card-subtitle {
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 18px;
        margin: 8px;
        color: #fff;
      }
    }

    span {
      margin-bottom: 8px;
      display: inline-block;

      & a {
        color: $primary;

        &:hover {
          color: white;
        }
      }
    }
  }
}

.about {
  .about--title {
    padding-bottom: 40px;
  }

  .about--us {
    text-align: center;
    color: $primary;
    font-size: 4rem;
  }

  .card {
    min-height: 360px;
  }
}

// cards //

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;

  .card-image {
    position: relative;

    img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .card-title {
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%;
      padding: 24px;
    }
  }

  .card-title {
    font-size: 24px;
    font-weight: 300;
  }

  .card-subtitle {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 18px;
    margin: 8px;
    color: #fff;
  }

  .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;

    p {
      margin: 0;
    }
  }
}

// end cards //
// quote //
.blockquote-wrapper {
  display: flex;
  padding: 0 20px;

  .blockquote {
    position: relative;
    max-width: 620px;
    margin: 40px auto;
    align-self: center;

    .quote {
      font-family: Playfair Display;
      color: $secondary;
      font-size: 1.75rem;
      line-height: 1;
      margin: 0;
      padding: 25px;

      .emphasis {
        color: $primary;
        font-family: inherit;
        font-size: 2rem;
      }
    }

    .quote--author {
      position: relative;
      color: #ffffff;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding-top: 15px;
      z-index: 1;
      margin-left: 150px;
      padding-left: 12px;
      float: right;

      &:first-letter {
        margin-left: -12px;
      }
    }
  }
}

// end quote //
