.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
}

@media (min-width: 0) {
  .col .xs1 {
    grid-column-end: span 1;
  }

  .col .xs2 {
    grid-column-end: span 2;
  }

  .col .xs3 {
    grid-column-end: span 3;
  }

  .col .xs4 {
    grid-column-end: span 4;
  }

  .col .xs5 {
    grid-column-end: span 5;
  }

  .col .xs6 {
    grid-column-end: span 6;
  }

  .col .xs7 {
    grid-column-end: span 7;
  }

  .col .xs8 {
    grid-column-end: span 8;
  }

  .col .xs9 {
    grid-column-end: span 9;
  }

  .col .xs10 {
    grid-column-end: span 10;
  }

  .col .xs11 {
    grid-column-end: span 11;
  }

  .col .xs12 {
    grid-column-end: span 12;
  }
}
@media (min-width: 600px) {
  .col .s1 {
    grid-column-end: span 1;
  }

  .col .s2 {
    grid-column-end: span 2;
  }

  .col .s3 {
    grid-column-end: span 3;
  }

  .col .s4 {
    grid-column-end: span 4;
  }

  .col .s5 {
    grid-column-end: span 5;
  }

  .col .s6 {
    grid-column-end: span 6;
  }

  .col .s7 {
    grid-column-end: span 7;
  }

  .col .s8 {
    grid-column-end: span 8;
  }

  .col .s9 {
    grid-column-end: span 9;
  }

  .col .s10 {
    grid-column-end: span 10;
  }

  .col .s11 {
    grid-column-end: span 11;
  }

  .col .s12 {
    grid-column-end: span 12;
  }
}
@media (min-width: 1024px) {
  .col .m1 {
    grid-column-end: span 1;
  }

  .col .m2 {
    grid-column-end: span 2;
  }

  .col .m3 {
    grid-column-end: span 3;
  }

  .col .m4 {
    grid-column-end: span 4;
  }

  .col .m5 {
    grid-column-end: span 5;
  }

  .col .m6 {
    grid-column-end: span 6;
  }

  .col .m7 {
    grid-column-end: span 7;
  }

  .col .m8 {
    grid-column-end: span 8;
  }

  .col .m9 {
    grid-column-end: span 9;
  }

  .col .m10 {
    grid-column-end: span 10;
  }

  .col .m11 {
    grid-column-end: span 11;
  }

  .col .m12 {
    grid-column-end: span 12;
  }
}
@media (min-width: 1440px) {
  .col .l1 {
    grid-column-end: span 1;
  }

  .col .l2 {
    grid-column-end: span 2;
  }

  .col .l3 {
    grid-column-end: span 3;
  }

  .col .l4 {
    grid-column-end: span 4;
  }

  .col .l5 {
    grid-column-end: span 5;
  }

  .col .l6 {
    grid-column-end: span 6;
  }

  .col .l7 {
    grid-column-end: span 7;
  }

  .col .l8 {
    grid-column-end: span 8;
  }

  .col .l9 {
    grid-column-end: span 9;
  }

  .col .l10 {
    grid-column-end: span 10;
  }

  .col .l11 {
    grid-column-end: span 11;
  }

  .col .l12 {
    grid-column-end: span 12;
  }
}
[class^=col-] {
  grid-column-end: span 12;
}

h1 {
  color: white;
}

* {
  font-family: Proxima Nova, sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  height: 90vh;
  background-color: #212121;
  line-height: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.body--home {
  background-image: url("/images/darkbg.jpg");
}

.body--about {
  background-image: none;
}

.container {
  width: 90%;
  margin: auto;
}

.header {
  height: 80px;
  margin-top: 40px;
}
.header .logo {
  display: inline-block;
}
.header .nav {
  text-align: center;
  float: right;
}
.header .nav .nav-list {
  display: inline;
  list-style-type: none;
  font-size: 24px;
  margin: 0;
  padding: 10px;
}
.header .nav .nav-list li {
  display: inline;
  margin-right: 40px;
}
.header .nav .nav-list a {
  text-decoration: none;
  color: white;
  padding: 8px;
}
.header .nav .nav-list a:hover {
  color: #ffca29;
}
.header .nav .nav-list #connect {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-align: center;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-color: #294fff;
  border-radius: 4px;
  padding: 12px 20px;
}
.header .nav .nav-list #connect:hover {
  background-color: #ffca29;
}

.home {
  grid-area: grid-body;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-areas: "left-grid right-grid";
  color: white;
  height: 400px;
}
.home .left {
  margin-top: 160px;
  grid-area: left-grid;
}
.home .left h1 {
  font-family: Playfair Display, serif;
  font-size: 160px;
  line-height: 126px;
  text-shadow: #ffca29 0 0 2px;
}
.home .right {
  margin-top: 440px;
}
.home .right p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-shadow: #000 0 0 2px;
}

.about {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "title" "about-container";
}
.about h1 {
  text-align: center;
  color: #ffca29;
  font-size: 4rem;
}
.about .title {
  grid-area: title;
}
.about .about--container {
  grid-area: about-container;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
}
.card .card-image {
  position: relative;
}
.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}
.card .card-title {
  font-size: 24px;
  font-weight: 300;
}
.card .card-subtitle {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 18px;
  margin: 8px;
  color: #fff;
}
.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}
.card .card-content p {
  margin: 0;
}

.blockquote-wrapper {
  display: flex;
  padding: 0 20px;
}
.blockquote-wrapper .blockquote {
  position: relative;
  max-width: 620px;
  margin: 40px auto;
  align-self: center;
}
.blockquote-wrapper .blockquote .quote {
  font-family: Playfair Display;
  color: #294fff;
  font-size: 1.75rem;
  line-height: 1;
  margin: 0;
  padding: 25px;
}
.blockquote-wrapper .blockquote .quote .emphasis {
  color: #ffca29;
  font-family: inherit;
  font-size: 2rem;
}
.blockquote-wrapper .blockquote .quote--author {
  position: relative;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 15px;
  z-index: 1;
  margin-left: 150px;
  padding-left: 12px;
  float: right;
}
.blockquote-wrapper .blockquote .quote--author:first-letter {
  margin-left: -12px;
}

/*# sourceMappingURL=test.css.map */
